---
import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import { useTranslations } from '~/utils/use-translations'
import AnimeStar from '~/components/Anime/AnimeStar.astro'
import Hidden from '~/components/Hidden.astro'

interface Props {
  score: number
}

let locale = getLocaleFromUrl(Astro.url)
let t = useTranslations(locale, 'anime')

let { score } = Astro.props
---

<div class="rating">
  {[...Array(10)].map((_, i) => <AnimeStar filled={score >= i + 1} />)}
  <Hidden>{`${t('rating')}: ${score}`}</Hidden>
</div>

<style>
  .rating {
    display: flex;
    gap: 2px;
    place-items: center;
    padding-block-end: var(--space-2xs);
  }
</style>
