---
import { Picture } from 'astro:assets'

import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import { useTranslations } from '~/utils/use-translations'

interface Props {
  lazy?: undefined | boolean
  name: string
  id: string
}

let { lazy = true, name, id } = Astro.props

let locale = getLocaleFromUrl(Astro.url)
let t = useTranslations(locale, 'anime')

let images = import.meta.glob('../../assets/anime/*')
images = Object.fromEntries(
  Object.entries(images).map(([key, value]) => [
    key.replace('../../assets/anime/', '').replace(/\.png$/u, ''),
    value,
  ]),
)
---

<div class="image-container">
  <Picture
    src={images[id]!() as unknown as ImageMetadata}
    alt={`${t('cover-for')} ${name}`}
    loading={lazy ? 'lazy' : 'eager'}
    formats={['avif', 'webp']}
    decoding="async"
    widths={[280]}
    class="image"
    height="630"
    width="460"
  />
</div>

<style>
  .image-container {
    --origin-image-inline-size: 460px;
    --origin-image-block-size: 630px;
    --origin-image-coefficient: clamp(0.3, 0.15 + 0.1875, 0.375);
    --inline-size: calc(
      var(--origin-image-inline-size) * var(--origin-image-coefficient)
    );
    --block-size: calc(
      var(--origin-image-block-size) * var(--origin-image-coefficient)
    );
    inline-size: var(--inline-size);
    block-size: var(--block-size);
  }

  .image {
    inline-size: 100%;
    block-size: auto;
    user-select: none;
    filter: sepia(0.6) saturate(2);
  }
</style>
