---
import AboutSocialLinks from '~/components/About/AboutSocialLinks.astro'
import AboutSocial from '~/components/About/AboutSocial.astro'
import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import { Content as EnAbout } from '~/content/about/en.mdx'
import { Content as RuAbout } from '~/content/about/ru.mdx'
import { useTranslations } from '~/utils/use-translations'
import Typography from '~/components/Typography.astro'
import LayoutDefault from '~/layouts/Default.astro'
import Title from '~/components/Title.astro'
import { locales } from '~/locales'

let locale = getLocaleFromUrl(Astro.url)
let t = useTranslations(locale, 'about')

let xUsername = locale === 'ru' ? 'azat_io' : 'azat_io_en'

export let getStaticPaths = () =>
  locales.map(({ code }) => ({ params: { lang: code } }))
---

<LayoutDefault description={t('description')} title={t('title')} type="profile">
  <section aria-labelledby="about">
    <Title id="about">{t('title')}</Title>
    {locale === 'ru' ? <RuAbout /> : <EnAbout />}
  </section>
  <section aria-labelledby="links">
    <Typography id="links" size="xl" tag="h2" mbs="xl" mbe="l" bold>
      {t('links')}
    </Typography>
    <AboutSocialLinks itemtype="https://schema.org/Person" itemscope>
      <AboutSocial
        data-umami-event="Visit social link"
        data-umami-event-name="Email"
        link="mailto:to@azat.io"
        username="to@azat.io"
        name={t('email')}
        itemprop="email"
        type="email"
      />
      <AboutSocial
        data-umami-event="Visit social link"
        link="https://github.com/azat-io"
        data-umami-event-name="GitHub"
        username="@azat-io"
        name={t('github')}
        itemprop="url"
        type="github"
      />
      <AboutSocial
        data-umami-event="Visit social link"
        link={`https://x.com/${xUsername}`}
        username={`@${xUsername}`}
        data-umami-event-name="X"
        itemprop="url"
        name={t('x')}
        type="x"
      />
      <AboutSocial
        link="https://mastodon.social/@azat_io"
        data-umami-event="Visit social link"
        username="@azat_io@mastodon.social"
        data-umami-event-name="Mastodon"
        name={t('mastodon')}
        type="mastodon"
        itemprop="url"
      />
      <AboutSocial
        link="https://bsky.app/profile/azat-io.bsky.social"
        data-umami-event="Visit social link"
        data-umami-event-name="BlueSky"
        username="@azat-io.bsky.social"
        name={t('blue-sky')}
        itemprop="url"
        type="bluesky"
      />
      <AboutSocial
        link="https://linkedin.com/in/azat-io"
        data-umami-event="Visit social link"
        data-umami-event-name="LinkedIn"
        name={t('linkedin')}
        username="@azat-io"
        type="linkedin"
        itemprop="url"
      />
      <AboutSocial
        link="https://discordapp.com/users/107017608368271360"
        data-umami-event="Visit social link"
        data-umami-event-name="Discord"
        username="@azat_io"
        name={t('discord')}
        itemprop="url"
        type="discord"
      />
      <AboutSocial
        data-umami-event="Visit social link"
        data-umami-event-name="Telegram"
        link="https://t.me/azat_io"
        name={t('telegram')}
        username="@azat_io"
        type="telegram"
        itemprop="url"
      />
      <AboutSocial
        data-umami-event="Visit social link"
        link="https://instagram.com/azat_io"
        data-umami-event-name="Instagram"
        name={t('instagram')}
        username="@azat_io"
        type="instagram"
        itemprop="url"
      />
    </AboutSocialLinks>
  </section>
</LayoutDefault>
