---
import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import { useTranslations } from '~/utils/use-translations'
import Typography from '~/components/Typography.astro'
import LayoutDefault from '~/layouts/Default.astro'
import Avatar from '~/components/Avatar.astro'
import { locales } from '~/locales'

let locale = getLocaleFromUrl(Astro.url)
let t = useTranslations(locale, 'index')

export function getStaticPaths() {
  return locales.map(({ code }) => ({ params: { lang: code } }))
}
---

<LayoutDefault description={t('description')} title={t('title')}>
  <div class="content">
    <Avatar alt={t('avatar')} />
    <article>
      <h1
        itemtype="https://schema.org/Brand"
        class="heading-wrapper"
        itemprop="slogan"
        itemscope
      >
        <Typography class="heading" color="brand" size="2xl" tag="span" bold>
          {t('website-title')}
        </Typography>
        <Typography class="heading" color="brand" tag="span" size="l">
          {t('website-subtitle')}
        </Typography>
      </h1>
      <Typography tag="p" mbs="m">
        {t('greeting')}
      </Typography>
    </article>
  </div>
</LayoutDefault>

<style>
  .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    place-items: center;
    justify-content: center;
    block-size: 100%;
    margin-block-end: var(--space-xl);

    @container (inline-size >= 560px) {
      flex-direction: row;
    }
  }

  .heading-wrapper {
    margin-block: 0;
  }

  .heading {
    display: block;
    white-space: nowrap;
  }
</style>
