---
import TimelineData from '~/components/Timeline/TimelineData.svelte'
import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import { useTranslations } from '~/utils/use-translations'
import Typography from '~/components/Typography.astro'
import LayoutDefault from '~/layouts/Default.astro'
import Title from '~/components/Title.astro'
import { locales } from '~/locales'

let locale = getLocaleFromUrl(Astro.url)
let t = useTranslations(locale, 'timeline')

export function getStaticPaths() {
  return locales.map(({ code }) => ({ params: { lang: code } }))
}
---

<LayoutDefault
  description={t('description') as string}
  title={t('title') as string}
>
  <Title>
    {t('title')}
  </Title>
  <Typography mbs="m" mbe="m">
    {t('description')}
  </Typography>
  <Typography mbs="m" mbe="m">
    {t('life-expectancy')}{' '}
    <a
      href="https://cdn.who.int/media/docs/default-source/gho-documents/world-health-statistic-reports/2023/world-health-statistics-2023_20230519_.pdf"
      rel="noopener noreferrer"
      target="_blank"
    >
      {t('who-monitoring')}
    </a>
  </Typography>
  <TimelineData client:load />
</LayoutDefault>
