---
import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import { useTranslations } from '~/utils/use-translations'
import FlagAE from '~/assets/flags/flag-ae.svg'
import FlagAM from '~/assets/flags/flag-am.svg'
import FlagAZ from '~/assets/flags/flag-az.svg'
import FlagBY from '~/assets/flags/flag-by.svg'
import FlagFR from '~/assets/flags/flag-fr.svg'
import FlagGE from '~/assets/flags/flag-ge.svg'
import FlagIL from '~/assets/flags/flag-il.svg'
import FlagIN from '~/assets/flags/flag-in.svg'
import FlagKE from '~/assets/flags/flag-ke.svg'
import FlagKH from '~/assets/flags/flag-kh.svg'
import FlagPS from '~/assets/flags/flag-ps.svg'
import FlagRU from '~/assets/flags/flag-ru.svg'
import FlagSG from '~/assets/flags/flag-sg.svg'
import FlagTH from '~/assets/flags/flag-th.svg'
import FlagTR from '~/assets/flags/flag-tr.svg'
import FlagUA from '~/assets/flags/flag-ua.svg'
import FlagUG from '~/assets/flags/flag-ug.svg'
import FlagUS from '~/assets/flags/flag-us.svg'
import FlagVN from '~/assets/flags/flag-vn.svg'
import Hidden from '~/components/Hidden.astro'

interface Props {
  code: string
  name: string
}

let { code, name } = Astro.props

let locale = getLocaleFromUrl(Astro.url)
let t = useTranslations(locale, 'travel-map')

let flags = {
  ae: FlagAE,
  am: FlagAM,
  az: FlagAZ,
  by: FlagBY,
  fr: FlagFR,
  ge: FlagGE,
  il: FlagIL,
  in: FlagIN,
  ke: FlagKE,
  kh: FlagKH,
  ps: FlagPS,
  ru: FlagRU,
  sg: FlagSG,
  th: FlagTH,
  tr: FlagTR,
  ua: FlagUA,
  ug: FlagUG,
  us: FlagUS,
  vn: FlagVN,
}

let Icon = flags[code as keyof typeof flags]
---

<div class="flag">
  <Icon />
  <Hidden>{`${t('flag-of')} ${name}`}</Hidden>
</div>

<style>
  .flag {
    display: flex;
    flex-wrap: nowrap;
    inline-size: 48px;
  }
</style>
