---
import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import SkipToContent from '~/components/SkipToContent.astro'
import { useTranslations } from '~/utils/use-translations'
import Navigation from '~/components/Navigation.svelte'
import Typography from '~/components/Typography.astro'
import Logo from '~/components/Logo.astro'

let { url } = Astro
let locale = getLocaleFromUrl(url)
let t = useTranslations(locale, 'header')
---

<header class="header">
  <SkipToContent />
  <a
    itemtype="https://schema.org/Brand"
    href={`/${locale}`}
    class="title"
    itemscope
    id="logo"
  >
    <Logo itemprop="logo" class="logo" />
    <Typography itemprop="name" class="name" size="l" bold>
      {t('name')}
    </Typography>
  </a>
  <Navigation client:load {locale} {url} />
</header>

<style>
  .header {
    display: flex;
    place-content: space-between;
    place-items: center;
    padding: var(--space-s) var(--space-m);
    background: var(--color-background-primary);
    border-block-end: 1px solid var(--color-border-primary);

    @media (width >= 768px) {
      padding: var(--space-xs) var(--space-m);
    }

    @media print {
      display: none;
    }
  }

  .name {
    white-space: nowrap;
  }

  .logo {
    inline-size: 36px;
    block-size: 36px;
    color: var(--color-background-brand);
  }

  .title {
    display: flex;
    gap: var(--space-s);
    place-items: center;
    padding-block: var(--space-2xs);
    color: var(--color-content-primary);
    text-decoration: none;
  }
</style>
