---
interface Props {
  class?: string
}

let { class: className, ...props } = Astro.props
---

<div class:list={['widget-wrapper', className]} {...props}>
  <slot />
</div>

<style>
  .widget-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-m);
    margin-block: var(--space-m);
    container-type: inline-size;

    @container (inline-size >= 560px) {
      grid-template-columns: 1fr 1fr;
    }

    @media print {
      display: none;
    }
  }
</style>
