---
import { Picture } from 'astro:assets'

import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import { useTranslations } from '~/utils/use-translations'
import Container from '~/components/Container.astro'

interface Props {
  name: string
  id: string
}

let { name, id } = Astro.props

let locale = getLocaleFromUrl(Astro.url)
let t = useTranslations(locale, 'blog')
---

<div class="hero">
  <Container class="hero-container">
    <Picture
      sizes="(max-width: 480px) 680px, ((min-width: 481px) and (max-width: 768px)) 968px, 1200px"
      src={import(`../../content/blog/${id}/assets/hero.png`)}
      alt={`${t('post-cover-for')} ${name}`}
      formats={['avif', 'webp']}
      widths={[480, 768, 1200]}
      fetchpriority="high"
      loading="eager"
      class="image"
      height="630"
      width="1200"
    />
  </Container>
</div>

<style>
  .hero {
    background: oklch(96.88% 0.024 85.79);
  }

  .hero .hero-container {
    padding-block: 0;
    overflow: hidden;
  }

  .image {
    inline-size: 100%;
    block-size: auto;
    user-select: none;
    -webkit-user-drag: none;
  }

  @media (width >= 768px) {
    .image {
      margin-block: calc(0px - var(--space-m));
    }
  }
</style>
