---

---

<div class="info">
  <slot />
</div>

<style>
  .info {
    display: flex;
    flex-flow: column wrap;
    gap: var(--space-s);
    margin-block-start: var(--space-s);

    @container (inline-size >= 560px) {
      flex-direction: row;
      margin-block-start: 0;
    }
  }
</style>
