---

---

<div class="info">
  <slot />
</div>

<style>
  .info {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);
    place-items: end;
    margin-block-start: var(--space-s);

    @container (inline-size >= 560px) {
      margin-block-start: 0;
    }
  }
</style>
