---
import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import { useTranslations } from '~/utils/use-translations'
import Typography from '~/components/Typography.astro'
import { repository } from '~/package.json'
import IconPencil from '~/icons/pencil.svg'

interface Props {
  slug: string
}

let { slug } = Astro.props

let locale = getLocaleFromUrl(Astro.url)
let t = useTranslations(locale, 'blog')
---

<div class="edit-link-wrapper">
  <Typography
    href={`https://github.com/${repository}/blob/main/content/blog/${slug}.mdx`}
    rel="noopener noreferrer"
    id="edit-page-link"
    class="edit-link"
    target="_blank"
    color="inherit"
    tag="a"
  >
    <IconPencil class="icon" />
    {t('edit-this-page')}
  </Typography>
</div>

<script define:vars={{ slug }}>
  {
    let controller

    let cleanup = () => {
      controller?.abort()
      controller = undefined
    }

    let scheduleNext = () => {
      document.addEventListener(
        'astro:before-swap',
        () => {
          cleanup()
        },
        { once: true },
      )
      document.addEventListener(
        'astro:after-swap',
        () => {
          setup()
        },
        { once: true },
      )
    }

    let setup = () => {
      cleanup()

      controller = new AbortController()

      let editLink = document.getElementById('edit-page-link')

      if (editLink) {
        editLink.addEventListener(
          'click',
          () => {
            if (globalThis.fathom) {
              globalThis.fathom.trackEvent(`edit page: ${slug}`)
            }
          },
          { signal: controller.signal },
        )
      }

      scheduleNext()
    }

    setup()
  }
</script>

<style>
  .edit-link-wrapper {
    display: flex;
  }

  .edit-link {
    display: flex;
    gap: var(--space-s);
    place-items: center;
    padding-inline: 0;
    margin-block: 0;
    text-decoration: none;
  }

  .icon {
    inline-size: var(--size-icon-s);
    block-size: var(--size-icon-s);
  }
</style>
