---
import { Picture } from 'astro:assets'

import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import { useTranslations } from '~/utils/use-translations'
import Container from '~/components/Container.astro'

interface Props {
  itemprop?: string
  name: string
  id: string
}

let { name, id, ...props } = Astro.props

let locale = getLocaleFromUrl(Astro.url)
let t = useTranslations(locale, 'blog')
---

<div class="hero">
  <Container class="hero-container">
    <Picture
      sizes="(-webkit-min-device-pixel-ratio: 2) 50vw, (min-resolution: 192dpi) 50vw, (min-resolution: 2dppx) 50vw, (-webkit-min-device-pixel-ratio: 3) 33.33vw, (min-resolution: 288dpi) 33.33vw, (min-resolution: 3dppx) 33.33vw"
      src={import(`../../content/blog/${id}/assets/hero.png`)}
      alt={`${t('post-cover-for')} ${name}`}
      formats={['avif', 'webp']}
      widths={[480, 768, 1200]}
      fetchpriority="high"
      aria-hidden="true"
      draggable="false"
      loading="eager"
      class="image"
      height="630"
      width="1200"
      {...props}
    />
  </Container>
</div>

<style>
  .hero {
    background: var(--color-blog-hero-background);
    box-shadow: 0 0 1px var(--color-border-primary);
    transition: background 200ms;

    .hero-container {
      padding: 0;
      overflow: clip;
    }

    @media print {
      display: none;
    }
  }

  .image {
    inline-size: 100%;
    block-size: auto;
    user-select: none;
    filter: var(--color-blog-hero-filter);
    transition: filter 200ms;

    @container (inline-size >= 560px) {
      margin-block: calc(0px - var(--space-m));
    }
  }
</style>
