---
import { fade } from 'astro:transitions'

import Container from '~/components/Container.astro'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'
import Head from '~/components/Head.astro'
import Body from '~/components/Body.astro'
import Html from '~/components/Html.astro'

interface Props {
  type?: 'article' | 'website' | 'profile'
  description: string
  size?: 'm' | 'l'
  title: string
}

let { type = 'website', description, size = 'm', title } = Astro.props
---

<Html>
  <Head {description} {title} {type} />
  <Body class="app">
    <Header />
    <Container
      transition:animate={fade({ duration: '100ms' })}
      tag="main"
      id="main"
      {size}
    >
      <slot />
    </Container>
    <Footer />
  </Body>
</Html>

<style>
  .app {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-block-size: 100dvb;
  }
</style>
