---
import ProjectsCard from '~/components/Projects/ProjectsCard.astro'
import ProjectsList from '~/components/Projects/ProjectsList.astro'
import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import { useTranslations } from '~/utils/use-translations'
import LayoutDefault from '~/layouts/Default.astro'
import { getProjects } from '~/utils/get-projects'
import Title from '~/components/Title.astro'
import { locales } from '~/locales'

let locale = getLocaleFromUrl(Astro.url)
let t = useTranslations(locale, 'projects')

let projects = await getProjects(locale)

export function getStaticPaths() {
  return locales.map(({ code }) => ({ params: { lang: code } }))
}
---

<LayoutDefault description={t('description')} title={t('title')}>
  <Title>{t('title')}</Title>
  <ProjectsList itemtype="https://schema.org/ItemList" itemscope>
    {
      projects.map(({ data: { description, title }, slug }) => (
        <ProjectsCard description={description} title={title} slug={slug} />
      ))
    }
  </ProjectsList>
</LayoutDefault>

<style>
  .item {
    display: flex;
    margin-block: var(--space-l);
  }
</style>
