---
import Typography from '~/components/Typography.astro'
import Layout from '~/layouts/Default.astro'
import Title from '~/components/Title.astro'
---

<Layout description="Page not found" title="404">
  <Title>404</Title>
  <Typography align="center">Page not found</Typography>
</Layout>
