---
import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import { useTranslations } from '~/utils/use-translations'
import Typography from '~/components/Typography.astro'
import Icon from '~/components/Icon.astro'

type Type = 'website' | 'github' | 'vscode' | 'npm'

interface Props {
  link: string
  type: Type
}

let { link, type } = Astro.props

let locale = getLocaleFromUrl(Astro.url)
let t = useTranslations(locale, 'projects')

let icons: {
  [key in Type]: string
} = {
  website: 'globe',
  github: 'github',
  vscode: 'vscode',
  npm: 'npm',
}
---

<a rel="noopener noreferrer" target="_blank" class="link" href={link}>
  <Icon name={icons[type]} size="m" />
  <Typography color="inherit" size="m">
    {t(type)}
  </Typography>
</a>

<style>
  .link {
    display: flex;
    gap: var(--space-xs);
    place-items: center;
    inline-size: 128px;
    color: var(--color-content-primary);
    text-decoration: none;
    border-radius: var(--border-radius);

    @media (hover: hover) {
      &:hover {
        color: var(--color-content-link-hover);
      }
    }
  }
</style>
