---
import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import { useTranslations } from '~/utils/use-translations'
import Typography from '~/components/Typography.astro'
import IconGithub from '~/icons/github.svg'
import IconVscode from '~/icons/vscode.svg'
import IconGlobe from '~/icons/globe.svg'
import IconNpm from '~/icons/npm.svg'

type Type = 'website' | 'github' | 'vscode' | 'npm'

interface Props {
  link: string
  type: Type
}

let { link, type } = Astro.props

let locale = getLocaleFromUrl(Astro.url)
let t = useTranslations(locale, 'projects')

let icons = {
  website: IconGlobe,
  github: IconGithub,
  vscode: IconVscode,
  npm: IconNpm,
}

let Icon = icons[type]
---

<a
  rel="noopener noreferrer"
  target="_blank"
  class="link"
  href={link}
>
  <Icon class="icon" />
  <Typography
    color="inherit"
    size="m"
  >
    {t(type)}
  </Typography>
</a>

<style>
  .link {
    display: flex;
    gap: var(--space-xs);
    place-items: center;
    inline-size: 128px;
    color: var(--color-content-primary);
    text-decoration: none;
    border-radius: var(--border-radius);

    @media (hover: hover) {
      &:hover {
        color: var(--color-content-link-hover);
      }
    }
  }

  .icon {
    inline-size: var(--size-icon-m);
    block-size: var(--size-icon-m);
  }
</style>
