---
import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import { useTranslations } from '~/utils/use-translations'

interface Props {
  size?: 'm' | 'l'
  class?: string
  title: string
  id: string
}

let { class: className, size = 'm', title, id } = Astro.props

let locale = getLocaleFromUrl(Astro.url)
let t = useTranslations(locale, 'projects')

let logos = Object.fromEntries(
  Object.entries(
    import.meta.glob('../../content/projects/**/**', {
      import: 'default',
      query: '?raw',
    }),
  )
    .filter(([key]) => key.includes('assets/logo'))
    .map(([path, getLogo]) => [
      path
        .replace('../../content/projects/', '')
        .replace('/assets/logo', '')
        .replace(/\.svg$/, ''),
      getLogo,
    ]),
)

let logo = logos[id]?.()
---

{
  logo && (
    <div
      class:list={['logo', `size-${size}`, className]}
      aria-label={`${t('logo-of')} ${title}`}
    >
      <Fragment set:html={logo} />
    </div>
  )
}

<style>
  .logo {
    display: flex;
    place-items: center;

    :global(svg) {
      color: var(--color-content-primary);
    }
  }

  .size-m :global(svg) {
    inline-size: 80px;
    block-size: 80px;
  }

  .size-l :global(svg) {
    inline-size: 112px;
    block-size: 112px;
  }
</style>
