---
import ProjectsLogo from '~/components/Projects/ProjectsLogo.astro'
import ProjectsLink from '~/components/Projects/ProjectsLink.astro'

interface Props {
  links: {
    website?: undefined | string
    github?: undefined | string
    vscode?: undefined | string
    npm?: undefined | string
  }
  class?: string
  id: string
}

let { class: className, links, id, ...props } = Astro.props

let projectLinks = Object.entries(links).map(
  ([key, value]: [string, undefined | string]) => ({
    link: value,
    type: key,
  }),
) as {
  type: keyof typeof links
  link: string
}[]
---

<div class:list={['infobox', className]} {...props}>
  <ProjectsLogo size="l" id={id} />
  <ul class="links" role="list">
    {
      projectLinks.map(({ link, type }) => (
        <li class="item">
          <ProjectsLink link={link} type={type} />
        </li>
      ))
    }
  </ul>
</div>

<style>
  .infobox {
    display: flex;
    flex-direction: column;
    place-items: center;
    inline-size: 100%;
    max-inline-size: 280px;
    padding: var(--space-m);
    background: var(--color-background-secondary);
    border: 1px solid var(--color-border-primary);
    border-radius: var(--border-radius);

    @container (inline-size >= 560px) {
      inline-size: 280px;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    place-items: center;
    inline-size: 100%;
    padding: 0;
    margin: 0;
    margin-block-start: var(--space-m);
    list-style: none;
  }

  .item {
    margin-block: 0;
  }
</style>
