::selection {
  color: var(--color-content-selection);
  background: var(--color-background-selection);
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-base);
  color: var(--color-content-primary);
  scroll-behavior: smooth;
}

body {
  min-inline-size: 320px;
  margin: 0;
  font: var(--font-m);
  background: var(--color-background-primary);
}

button {
  appearance: button;
}

button,
input,
select,
optgroup,
textarea {
  font: inherit;
}

a,
select:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

ul,
ol {
  padding-inline-start: 16px;
}

li {
  margin-block: var(--space-m);
}

a {
  padding-inline: 2px;
  color: var(--color-content-link);
  text-decoration: underline;
  text-underline-offset: 0.25em;
  border-radius: var(--border-radius);
  outline: none;
  transition: box-shadow 200ms;

  &:hover {
    color: var(--color-content-link-hover);
    border-color: var(--color-border-link-hover);
    transition: all 200ms;
  }

  &:focus-visible {
    text-decoration: none;
    background: var(--color-overlay-brand);
    box-shadow: 0 0 0 2px var(--color-border-brand);
  }
}

p {
  margin-block: var(--space-m);
  text-wrap: pretty;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

h1 {
  font: var(--font-2xl);
}

h2 {
  margin-block: var(--space-l) var(--space-m);
  font: var(--font-xl);
}

h3 {
  margin-block: var(--space-m);
  font: var(--font-l);
  font-weight: 600;
}

h4 {
  margin-block: var(--space-m);
  font: var(--font-m);
  font-weight: 600;
}

table {
  margin-block: var(--space-m);
  overflow: clip;
  border-collapse: collapse;
  border-style: hidden;
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 1px var(--color-border-primary);
}

th,
td {
  padding: var(--space-2xs) var(--space-s);
  border: 1px solid var(--color-border-primary);
}

th {
  text-align: start;
  background: var(--color-background-secondary);
}

tr:nth-child(even) {
  background: var(--color-background-primary);
}

tr:nth-child(odd) {
  background: color-mix(
    in lab,
    var(--color-background-primary),
    var(--color-background-primary-hover)
  );
}

img {
  max-inline-size: 100%;
  block-size: auto;
  color: transparent;
}

picture {
  display: flex;
  flex-shrink: 0;
}

pre,
code {
  overflow: auto;
  font: var(--font-code);
  font-variation-settings:
    'wght' 560,
    'wdth' 111;
  background: var(--color-background-secondary) !important;
  border: 1px solid var(--color-border-primary);
}

code {
  padding: var(--space-2xs);
  border-radius: calc(var(--border-radius) / 2);
}

pre {
  padding: var(--space-m);
  border-radius: var(--border-radius);
  outline: none;
  transition: box-shadow 200ms;

  code {
    padding: 0;
    border: none;
    border-radius: none;
  }
}
