@font-face {
  font-family: 'Co Text';
  font-weight: normal;
  src: url('/fonts/co-text-regular.woff2');
  font-display: swap;
  unicode-range: U+0000-00FF, U+0400-04FF, U+0500-052F, U+2000-206F;
}

@font-face {
  font-family: 'Co Text';
  font-weight: bold;
  src: url('/fonts/co-text-bold.woff2');
  font-display: swap;
  unicode-range: U+0000-00FF, U+0400-04FF, U+0500-052F, U+2000-206F;
}

@font-face {
  font-family: fallback;
  font-style: normal;
  font-weight: normal;
  src: local('Arial');
  size-adjust: 111.98%;
  ascent-override: 88.05%;
  descent-override: 26.61%;
}

@font-face {
  font-family: 'Monaspace Neon';
  src: url('/fonts/monaspace-neon.woff2');
  font-display: swap;
  unicode-range: U+0000-00FF, U+2000-206F;
}

:root {
  --font-family-base: 'Co Text', fallback, sans-serif;
  --font-family-code: 'Monaspace Neon', monospace;
  --font-size-2xs: 0.875rem;
  --font-size-xs: 0.9375rem;
  --font-size-s: clamp(0.9375rem, 0.875rem + 0.25vi, 1rem);
  --font-size-m: clamp(1.0625rem, 0.9375rem + 0.5vi, 1.1875rem);
  --font-size-l: clamp(1.25rem, 0.875rem + 1.5vi, 1.625rem);
  --font-size-xl: clamp(1.375rem, 0.75rem + 2.5vi, 2rem);
  --font-size-2xl: clamp(2rem, 1.5rem + 2vi, 2.5rem);
  --font-size-code: clamp(0.9rem, 0.8125rem + 0.375vi, 1rem);
  --font-2xs: 400 var(--font-size-2xs) / 1.75 var(--font-family-base);
  --font-xs: 400 var(--font-size-xs) / 1.75 var(--font-family-base);
  --font-s: 400 var(--font-size-s) / 1.75 var(--font-family-base);
  --font-m: 400 var(--font-size-m) / 1.75 var(--font-family-base);
  --font-l: 400 var(--font-size-l) / 1.75 var(--font-family-base);
  --font-xl: 600 var(--font-size-xl) / 1.5 var(--font-family-base);
  --font-2xl: 600 var(--font-size-2xl) / 1.15 var(--font-family-base);
  --font-code: 400 var(--font-size-code) / 1.75 var(--font-family-code);
}
