h2,
h3 {
  position: relative;

  @media (width >= 768px) {
    @media (hover: hover) {
      &:hover .heading-anchor {
        opacity: 100%;
      }
    }
  }
}

.heading-anchor {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: calc(0px - var(--space-s) * 2);
  display: none;
  inline-size: 24px;
  block-size: 24px;
  padding-inline: 0;
  text-decoration: none;
  opacity: 0%;
  transform: translateY(calc(-50% - 2px));

  @media (prefers-reduced-motion: no-preference) {
    transition: opacity 250ms ease-in-out 100ms;
  }

  &:focus-visible {
    border-radius: 8px;
    opacity: 100%;
  }

  @media (width >= 768px) {
    display: flex;
    flex-wrap: nowrap;
  }
}
