---
import Typography from '~/components/Typography.astro'
import Icon from '~/components/Icon.astro'

type Type =
  | 'instagram'
  | 'linkedin'
  | 'telegram'
  | 'mastodon'
  | 'spotify'
  | 'discord'
  | 'bluesky'
  | 'github'
  | 'email'
  | 'x'

interface Props {
  itemprop?: string
  username: string
  link: string
  name: string
  type: Type
}

let { username, name, link, type, ...props } = Astro.props

let icons: Record<Type, string> = {
  instagram: 'instagram',
  linkedin: 'linkedin',
  telegram: 'telegram',
  mastodon: 'mastodon',
  spotify: 'spotify',
  discord: 'discord',
  bluesky: 'bluesky',
  email: 'envelope',
  github: 'github',
  x: 'x',
}
---

<a
  rel="noopener noreferrer"
  target="_blank"
  class="social"
  href={link}
  {...props}
>
  <Icon name={icons[type]} size="l" />
  <section class="social-info">
    <Typography color="brand" class="text" size="m" tag="h3">{name}</Typography>
    <Typography color="secondary" class="text" size="2xs">
      {username}
    </Typography>
  </section>
</a>

<style>
  .social {
    display: inline-flex;
    gap: var(--space-s);
    place-items: center;
    padding-block: var(--space-s);
    text-decoration: none;
    border-radius: var(--border-radius);
    transition: all 250ms;
    will-change: box-shadow, background, color;

    @media (hover: hover) {
      &:hover {
        color: var(--color-content-brand);
        background: var(--color-background-primary-hover);
      }
    }

    &:focus-visible {
      transition-property: box-shadow;
    }
  }

  .social-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .text {
    line-height: 1.35 !important;
  }
</style>
