---

---

<div class="social-links">
  <slot />
</div>

<style>
  .social-links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--space-m);
    inline-size: 100%;

    @container (inline-size >= 560px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @container (inline-size >= 800px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @container (inline-size >= 960px) {
      gap: var(--space-m) var(--space-xl);
    }
  }
</style>
