---
import Typography from '~/components/Typography.astro'
import IconInstagram from '~/icons/instagram.svg'
import IconLinkedin from '~/icons/linkedin.svg'
import IconTelegram from '~/icons/telegram.svg'
import IconMastodon from '~/icons/mastodon.svg'
import IconEnvelope from '~/icons/envelope.svg'
import IconSpotify from '~/icons/spotify.svg'
import IconDiscord from '~/icons/discord.svg'
import IconBluesky from '~/icons/bluesky.svg'
import IconGithub from '~/icons/github.svg'
import IconX from '~/icons/x.svg'

type Type =
  | 'instagram'
  | 'linkedin'
  | 'telegram'
  | 'mastodon'
  | 'spotify'
  | 'discord'
  | 'bluesky'
  | 'github'
  | 'email'
  | 'x'

interface Props {
  itemprop?: string
  username: string
  link: string
  name: string
  id?: string
  type: Type
}

let { username, name, link, type, id, ...props } = Astro.props

let icons = {
  instagram: IconInstagram,
  linkedin: IconLinkedin,
  telegram: IconTelegram,
  mastodon: IconMastodon,
  spotify: IconSpotify,
  discord: IconDiscord,
  bluesky: IconBluesky,
  email: IconEnvelope,
  github: IconGithub,
  x: IconX,
}

let Icon = icons[type]
---

<a
  rel="noopener noreferrer"
  target="_blank"
  class="social"
  href={link}
  {id}
  {...props}
>
  <Icon class="icon" />
  <section class="social-info">
    <Typography color="brand" class="text" size="m" tag="h3">{name}</Typography>
    <Typography color="secondary" class="text" size="2xs">
      {username}
    </Typography>
  </section>
</a>

<style>
  .social {
    display: inline-flex;
    gap: var(--space-s);
    place-items: center;
    padding-block: var(--space-s);
    text-decoration: none;
    border-radius: var(--border-radius);
    transition: all 250ms;
    will-change: box-shadow, background, color;

    @media (hover: hover) {
      &:hover {
        color: var(--color-content-brand);
        background: var(--color-background-primary-hover);
      }
    }

    &:focus-visible {
      transition-property: box-shadow;
    }
  }

  .social-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .icon {
    inline-size: var(--size-icon-l);
    block-size: var(--size-icon-l);
  }

  .text {
    line-height: 1.35 !important;
  }
</style>
